.empresa-container {
  min-height: 100vh;
  background-color: #F9FAFB;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.empresa-card {
  width: 100%;
  max-width: 650px;

  background: #FFFFFF;

  padding: 35px;

  border-radius: 15px;

  border: 1px solid #E5E7EB;

  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.empresa-title {
  text-align: center;
  color: #800020;
  margin-bottom: 10px;
}

.empresa-subtitle {
  text-align: center;
  color: #6B7280;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #111827;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;

  border: 1px solid #E5E7EB;
  border-radius: 8px;

  font-family: inherit;
}

.form-group textarea {
  resize: vertical;
}

.empresa-button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background-color: #800020;
  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.empresa-button:hover {
  background-color: #5E0017;
}

.login-text {
  text-align: center;
  margin-top: 20px;
  color: #6B7280;
}

.login-link {
  color: #800020;
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}